body {
    margin: 0;
}

#header {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9b457;
}

#header img {
    max-height: 70px;
}

.nav-links {
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.nav-links:hover {
    color: white;
}

section {
    background-image: url('Lobby_img.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

article {
    display: flex;
    justify-content: space-around;
}

.main {
    align-items: center;
    text-align: center;
}

.main h1 {
    padding-top: 50px;
    text-align: center;
    color: white;
    margin: 0px;
}

#our_story {
    padding-top: 50px;
    text-align: center;
    color: white;
}

.main h2 {
    padding-top: 10px;
    text-align: center;
    color: white;
}

.main p {
    text-align: center;
    color: white;
    font-size: 23px;
}

#slider-main {
    align-items: center;
    text-align: center;
    background-color: #292929;
}

#slider-main h2 {
    margin: 0px;
    padding: 20px;
    color: white;
}

#slider {
    height: 500px;
    width: 800px;
}

#next-button {
    margin: 20px;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #f9b457;
}

#next-button:hover {
    background-color: #f1bd79;
}

/* Menu */

#body_menu {
    background-color: #292929;
}

#menu_tag {
    margin: 0px;
    text-align: center;
    font-size: 35px;
    color: white;
    padding-top: 0px;
    padding-bottom: 300px;
    padding-left: 50px;
    padding-right: 50px;
}

section h3 {
    margin: 0px;
    text-align: center;
    color: #f9b457;
    padding-top: 150px;
}

.topic {
    text-align: center;
    color: white;
    font-size: 30px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.flex-container p {
    color: white;
    font-size: 20px;
    text-align: end;
}

.flex-container div span {
    margin-left: 100px;
}

.euro{
    color: #f9b457;
}

hr{
    width: 50%;
    height: 3px;
    border: none;
    background-color: #f9b457;
}

/* Register Form */

#register-button {
    background-color: #4caf50;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 8px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#register-button:hover {
    background-color: #45a049;
}

.error {
    color: red;
}

#register-form {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    width: 75%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#register-form input {
    margin: 5px;
    padding: 2px;
}

/* Log In */

#login-button {
    background-color: #4caf50;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding: 8px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#login-button:hover {
    background-color: #45a049;
}

.error {
    color: red;
}

#login-form {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    width: 75%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login-form input {
    margin: 5px;
    padding: 2px;
}

/* Forms */

#forms{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    background-color: #292929;
}


/* Footer */

footer {
    background-color: #292929;
    color: #fff;
    padding: 30px 0;
}

#logo-footer{
    max-height: 80px;
    padding: 30px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h2 {
    color: #f1bd79;
}

.links ul {
    list-style: none;
    padding: 0;
}

.links li {
    margin-bottom: 5px;
}

.social a {
    display: inline-block;
    margin-right: 10px;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
}

.social img{
    max-width: 30px;
}

.quick-links{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
}

/* Contact Form */

#contact-container {
    background-color: #292929;
    padding: 20px;
    margin: 0px;
}

#contact-form {
    max-width: 400px;
    margin: 0 auto;
}

#contact-form h2 {
    text-align: center;
    color: white;
}

.label-form {
    display: block;
    margin-bottom: 8px;
    color: white;
    font-size: 20px;
}

#contact-form input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#contact-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contact-button:hover {
    background-color: #45a049;
}
